body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}


div {
    color: white;
    text-align: center;
    margin-top: 20vh;
    text-shadow: #FC0 1px 0 10px;
    font-size: 5em;
}


#message {
    font-size: 0.3em;
}


img {
    height: 250px;
    animation: floating 2s infinite ease-in-out;
}


@keyframes floating {
    50% {
        transform: translateY(-30px);
    }
}


button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(255, 204, 0, 0.658);
    font-size: 0.2em;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: #FC0;
}


#gameOver {
    animation: blink 1s linear infinite;
}


@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}