#container{
    margin: auto;
    margin-top: 200px;
    font-family:'Bangers', cursive;
    font-size: 2.2em;
    background-color: rgba(255, 255, 255, 0.747);
    width: 800px;
    height: 430px;
    text-align: center;
    border-radius: 30px;
}

body{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(img/landing.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
}

h1{
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
    font-size: 5em;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(255, 242, 0);
    font-size: 0.6em;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

input{
    width: 250px;
    height: 40px;
    border-radius: 30px;
}

#petName{
    font-family: 'Bangers', cursive;
    font-size: 0.8em;
    text-align: center;
}