/* body {
    background-size: 100% 100%; it will stretch instead of keeping the ratio
} */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('img/newimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 0;
    /* Set a lower z-index for the body background */
}

.play {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('img/outsidef.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

img {
    display: block;
    margin: auto;
    margin-top: 100px;
    height: 400px;
}


#container {
    margin: auto;
    font-family: 'Bangers', cursive;
    font-size: 2.2em;
    background-color: rgba(255, 255, 255, 0.747);
    width: 42%;
    /* height: 300px; */
    text-align: center;
    border-radius: 30px;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(255, 242, 0);
    font-size: 0.3em;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.image-overlay {
    filter: brightness(50%);
    backdrop-filter: blur(10px);
    width: 100vw;
    ;
    height: 100vh;
    background: cover;
    position: static;
    z-index: 1;
}

.petImg {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

.teen {
    animation-play-state: paused;
}

.adult {
    animation: walk 2s;
    animation-iteration-count: infinite;
}

@keyframes walk {
    0% {
        transform: translate(100px, 0);
    }

    50% {
        transform: translate(-100px, 0);
    }

    100% {
        transform: translate(100px, 0);
    }
}

label, button{
    display: inline;
    margin: 5px;
    vertical-align: middle;
    

}

progress{
    height: 40px;
    width: 44%;
}


@media screen and (max-width: 1300px){
    img{
        margin: auto;
        width: 250px;
        height: auto;
        overflow: hidden;
    }
}