/* body {
    background-size: 100% 100%; it will stretch instead of keeping the ratio
} */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('img/newimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 0;
    /* Set a lower z-index for the body background */
}

.play {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('img/outsidef.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

img {
    display: block;
    /* position: relative; */
    margin: auto;
    margin-top: 200px;
    height: 400px;
}

#container {
    margin: auto;
    font-family: 'Bangers', cursive;
    font-size: 2.2em;
    background-color: rgba(255, 255, 255, 0.747);
    width: 800px;
    /* height: 300px; */
    text-align: center;
    /* height: 100vh; */
    border-radius: 30px;
}

button {
    border-radius: 30px;
    width: 150px;
    padding: 10px;
}

/* body.image-overlay { */
/* position: absolute; */
/* Use fixed position to cover the entire viewport */
/* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
/* background-color: rgba(57, 57, 57, 0);  */
/* background-image: url('img/newimg.jpg'); */
/* z-index: 1; */
/* } */
/* body.image-overlay{
padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('img/newimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    filter: brightness(10%);
} */
.image-overlay {
    filter: brightness(50%);
    backdrop-filter: blur(10px);
    width: 100vw;
    ;
    height: 100vh;
    background: cover;
    position: static;
    z-index: 1;
}

/* #noDisplay{
    visibility: hidden;
} */
.petImg {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

.teen {
    animation-play-state: paused;
}

.adult {
    animation: walk 2s;
    animation-iteration-count: infinite;
}

@keyframes walk {
    0% {
        transform: translate(100px, 0);
    }

    50% {
        transform: translate(-100px, 0);
    }

    100% {
        transform: translate(100px, 0);
    }
}